* {
margin:0;
padding:0;
}
html, body {
height:100%;
}
#wrapper {
margin:0 auto;
width:720px;
min-height:100%;
background:#D5EAF9;
border-left:1px solid #000;
border-right:1px solid #000;
}
* html #wrapper {
height:100%;
}
#nav {
list-style:none;
font-weight: bold;
position:relative;
background:#fff;
text-align:center;
width:722px;
margin:0 -1px;
}
#nav li {
display:inline;
padding:0 35px;
}
#content {
padding:60px 80px;
border-top:1px solid #000;
}
h1 {
font-size:2em;
text-align:center;
height:120px;
line-height:120px;
border-bottom:1px solid #000;  
}
h2 {
font-size:1.6em;
height:70px;
line-height:70px;
width:720px;
text-align:center;
margin:-71px auto 0;
border-top:1px solid #000;
}
p {
margin: 0 0 1em;
}
.spanish {
display:none;
}